* {
    margin: 0;
    padding: 0;
    background-color: rgb(156, 230, 156);
}

#myCanvas {
    border-left: 5px solid #9C9898;
    border-right: 5px solid #9C9898;
    margin: 0 auto 0;
    display: block;
    overflow:hidden;
    background-color: #eedfdf;
}

.gui-body {
    margin: 5px;
    padding: 5px;
    background: rgb(154, 184, 154);
    position: absolute;
    border-radius: 5px;
    border: 1px solid #6e7467;
    box-shadow: 0px 0px 5px 0px #443a3a;
}
